:root{
    --while-color: #fff;
    --back-color: #000;
    --text-color:#333;
    --primary-color:#ee4d2d;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;


    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.grid__column-2{
    padding-left: 8px;
    padding-right: 8px;
    width: 16.6667%;
}
.gird__column-10{
    padding-left: 8px;
    padding-right: 8px;
    width: 83.3333%;
}
.grid__column-2-4{
    padding-left: 8px;
    padding-right: 8px;
    width: 20%;
}
/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    };
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s ;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    position: relative;
    animation: growth linear 0.1s;
}
/* button style */
.btn{
    min-width: 130px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--while-color);
}
.btn.btn-normal:hover{
    background-color: rgba(95, 90, 90, 0.05);
}
.btn.btn-size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.btn.btn--primary{
    color: var(--while-color);
    background-color: var(--primary-color);

}
.btn.btn--disable{
    cursor: default;
    background-color: #999;
}
/* selection price */
.select-price__input{
    position: relative;
    height: 34px;
    min-width: 200px ;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--while-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.select-price__input-lable{
    font-size: 1.4rem;
}
.select-price__input-icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px
}
/* list option */
.select-price__input-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 2px;
    background-color: var(--while-color);
    list-style: none;
    padding: 8px 16px;
    margin: 1px;
    display: none;
    z-index: 1;
}
.select-price__input:hover .select-price__input-list{
    display: block;
    
}
.select-price__input-list::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -8px;
    left: 0;
    position: absolute;
}
.select-price__input-link{
    font-size: 1.4rem;
    text-decoration:none ;
    color: var(--text-color);
    display: block;
    padding: 8px 0; 
    
}
.select-price__input-link:hover{
    color: var(--primary-color);
    cursor: pointer;
}

/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-item{
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--while-color);
}
.pagination-item--active .pagination-item__link:hover{
    background-color: #f1836d;
}
.pagination-item__link{
    --height:30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 3px;
}
/* .pagination-item__link-icon{} */