.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--while-color);
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 6px 0;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item-icon{
    font-size: 1.6rem;
    margin-right: 8px;
}
.footer__download{
    display: flex;
}
.footer__download-qr-img{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer__download-app{
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-img{
    height: 16px;
}
.footer__download-app-link{
    text-decoration: none;
    color: transparent;
}
.footer__bottom{
    background-color: #F5F5F5;
    padding: 12px 0;
}
.footer__text{
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}