.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433, #f53e2d);

}
.header__navbar{
    display: flex;
    justify-content: space-between;
    
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.hearder__navbar-item{
    margin:0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 3px);
    right: 0;
    border-radius: 2px;
    background-color: var(--while-color);
    list-style: none;
    width: 150px;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu::before{
    position: absolute;
    width: 100%;
    top: -16px;
    height: 15px;
    content: "";
    display: block  ;
}
.header__navbar-user-menu-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    padding: 8px 16px;
}
.header__navbar-user-menu-item a:hover{
    background-color: #fafafa;
}
.header__navbar-user-menu-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-menu-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-menu-item a::after{
    content: "";
    border-width: 11px 13px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    right: 10px;
    top: -19px;
}
.hearder__navbar-item-has-qr:hover .header__qrcode{
    display: block;
}
.header__navbar-item-has-notify:hover .header__notify{
    display: block;
}

.hearder__navbar-item,
.hearder__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
}
.hearder__navbar-item,
.hearder__navbar-item-link,
.header__navbar-icon-link{
    display: flex;
    align-items: center;

}
.hearder__navbar-item:hover,
.header__navbar-icon-link:hover,
.hearder__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.hearder__navbar-item-strong{
    font-weight: 400;
}
.hearder__navbar-item-separate::after{
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #FB9086;
    height: 16px;
    top: 50%;
    right: -9px;
    transform:translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--while-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 1.4rem;
    margin: 0 8px;
}
.hearder__navbar-item--title{
    cursor: text;
    color: var(--while-color);
}

/*  hearder QR code*/
.header__qrcode{
    width: 186px;
    background-color: var(--while-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 1;
}
.header__qrcode::before{
    position: absolute;
    width: 100%;
    top: -16px;
    height: 20px;
    content: "";
    display: block  ;
}

.header__qrcode--app{
    display: flex;
    justify-content: space-between;
}
.header__qrcode-img{
    width: 100%;
    
}
.header__qrcode-link:first-child{
    margin-left: 11px;
}
.header__qrcode-link:last-child{
    margin-right:11px ;
}
.header__qrcode--app-imgdownload{
    height: 18px;
}

/* Header-Notify*/
.header__notify{
    position: absolute  ;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px solid #d3d3d3;
    background-color: var(--while-color);
    cursor: default;
    transform-origin: calc(100% - 35px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity , transform;
    /*-webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    */
    display: none;
}
.header__notify::after{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
}
.header__notify::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 20px;
}
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--while-color);
}
.header__notify h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height:  40px; 
    user-select: none;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    list-style: none;
}
.header__notify-item:hover{
    background-color: #f7f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgba(238,75,43,0.08);
}
.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
    line-height: 1.6rem;
}
.header__notify-description{
    display: block;
    text-decoration: none;
    color: #756f6e;
    line-height: 1.6rem;
    font-size: 1.2rem;
    margin-top: 4px;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 4px 16px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 8px 48px;
}

/* auth-form  modal*/
        /* register */
.auth-form{
    width: 500px;
    background-color: var(--while-color);
    border-radius: 5px;
    overflow: hidden;
    
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px ;
    margin-top: 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__swith-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
/*.auth-form__form{
    
}
.auth-form__group{

}*/
.auth-form__input{
    width: 100%;
    height: 34px;
    margin-top: 16px;
    padding: 0 12px ;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 20px;

}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__policy-link{
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__social{
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.auth-form__social-icon{
    font-size: 1.8rem;
}
.auth-form__social-facebook{
    background-color: #3a5a98;
    color: var(--while-color);
}
.auth-form__social-facebook
.auth-form__social-icon{
    color: var(--while-color);
}
.auth-form__social-google{
    background-color: var(--while-color);
    color: #666;
}
.auth-form__social-title{
    margin: 0 24px;
}
   /* login form */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    height: 20px ;
    margin: -2px 16px 0;
    border-left: 1px solid #eaeaea;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}

/* header with search*/
.header-with-seach{
    height: var( --header-with-search-height);
    display: flex;
    align-items: center;
}
.header__logo{
    width: 200px;
    cursor: pointer;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
}
.header__logo-img{
    width: 150px;
}
/* search  */
.header-with-seach{
    margin: 0 8px;
}

.header__search{
    background-color: var(--while-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--while-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(131, 105, 105);
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}
.header__search-history-list::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -17px;
    left: 0;
    position: absolute;
}
.header__search-history-item {
    height: 38px;
    padding: 0px 12px;
}
.header__search-history-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
}
.header__search-input:focus ~ .header__search-history {
    display: block ;
}
/* card*/
.header__cart {
    width: 150px;
    text-align: center;
    margin-top: 8px;
}
.header__cart-warp {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header__cart-icon {
    color: var(--while-color);
    font-size: 2.6rem;
    cursor: pointer;
}
.header__cart-list {
    position: absolute;
    top: calc(100% + 5px);
    right: -1px;
    background-color: var(--while-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 3px 5px #ccc;
    cursor: default;
    animation: fadeIn ease-in 0.2s;
    display: none;
    z-index: 1;
}
.header__cart-list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -30px;
    border-width: 22px 26px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
}
.header__cart-list-no-cart-img {
    width: 60%;
    display: none;
}
.header__cart-list-no-cart-message {
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: 14px;
    display: none;
}
.header__cart-list-no-cart {
    padding: 28px 0 ;
    text-align: center;
}
.header__cart-list-no-cart .header__cart-list-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-message {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-warp:hover .header__cart-list {
    display: block;
}
.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    top: -8px;
    right: -5px;
    background-color: var(--while-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}
  /* giỏ hàng có sản phẩm */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}
.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}
.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 10px 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
/* .header__cart-item-price-warp{} */

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply {
    font-size: 0.9rem;
    margin-top: 0 4px;
    color: #757575;
}
.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;

}
.heaader__cart-item-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;

}
.header__cart-item-delete {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
}
.header__cart-item-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart.btn.btn--primary:hover {
    background-color: #F05D41;
}
/* search */
.header__search-search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 4px;
    margin-right: 3px;
    outline: none;
}
.header__search-search-btn:hover {
    cursor: pointer;
    background-color: #eb6351;
}
.header__search-search-btn-icon {
    color: var(--while-color);
    font-size: 1.4rem;
}
.header__search-selection {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    animation: fadeIn ease-in 0.2s;
}
.header__search-selection-lable {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-selection-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1 3px rgb(56, 12, 12);
    padding-left: 0;
    border-radius: 2px;
    display: none;
    z-index: 1;
}
.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -17px;
    left: 0;
    position: absolute;
}
.header__search-selection:hover .header__search-option {
    display: block;
}
.header__search-option-item{
    padding: 8px 8px;
    background-color: var(--while-color);
}
.header__search-option-item:hover {
    background-color: #e2e5ec;
    cursor: pointer;
}
.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header__search-option-item--active i {
    display: inline-block;
}
/* header__mobile-search */


.header__mobile-search {
    padding: 0 12px;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--while-color);
}
/* header sort bar  */

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    height: var( --header-sort-bar-height);
    background-color: var(--while-color);
    display: none;
}
.header__sort-item {
    flex: 1;

}
.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::after {
    content: "";
    position: absolute;
    
    left: 0;
    height: 100%;
    border-left: 1px solid #e5e5e5;
}